/target
*.zip
*.txt

# Robbie's local helper script for `multi proxy`
/ping.sh

# Remove any configs used for development
MultiTool.toml
MultiTool.json
MultiTool.yml
MultiTool.yaml

# Remove any workers user for development
/worker/**